/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

html {
    box-sizing: border-box;
}

html *, html *::before, html *::after {
    box-sizing: inherit;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    margin: 0;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

#hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 64px 15px;
    min-height: 720px;
    color: #ffeee2;
    background-size: cover;
    width: auto;
    background-image: url(https://images.unsplash.com/photo-1634312439682-35d1ea070d27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2940&q=80);
    gap: 35px 0;
}
.hero-text {
    font-weight: 700;
    font-size: 75px;
    display: inline-block;
    margin: 0 auto;
    background-color: #183059;
    border-radius: 10px;
    padding: 10px 12px;
}
.hero-description span {

    font-size: 30px;
    display: inline-block;
    margin: 0 auto;
    background-color: #183059;
    border-radius: 10px;
    padding: 10px 12px;
    width: 100%;
    max-width: 850px;
}

.activities {
    padding: 80px;
    background-color: #ffeee2;
    color: #1b1b1e;
}

.activities-intro {
    font-size: 45px;
    padding-bottom: 60px;
}

.activities-row {
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    padding: 0px 30px;
    gap: 30px;
}
.activities-col {
    width: 350px;
}
.activities-img {
    width: 150px;
    height: 150px;
    border-radius: 100px;
    margin: 20px;
}

.activities-hook {
    font-size: 23px;
    margin: 16px;
}

.activities-text {
    padding-top: 16px;
    font-size: 20px;
}



.guide-section {
    padding: 80px;
}

.guide {
    color: #ffeee2;
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #61a0af;
    border-bottom: 6px solid #183059;
    border-radius: 20px;
    gap: 20px;
}

.avatar {
    min-width: 200px;
    border-radius: 20px;
}

.guide-col {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 25px;
}

.guide-head {
    font-size: 40px;
}

.guide-desc {
    font-size: 20px;
}

.guide-name {
    font-size: 30px;
}